# =====================
# Node / JS
# =====================
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# =====================
# Environment variables (CRITICAL)
# =====================
.env
.env.*
!.env.example

# =====================
# Expo
# =====================
.expo/
dist/
web-build/
expo-env.d.ts

# =====================
# Native / Mobile
# =====================
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# =====================
# Metro
# =====================
.metro-health-check*

# =====================
# Prisma
# =====================
prisma/dev.db
prisma/dev.db-journal

# =====================
# Build / Coverage
# =====================
build/
coverage/

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db
*.pem

# =====================
# TypeScript
# =====================
*.tsbuildinfo

# =====================
# Examples / temp
# =====================
app-example
